* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

nav {
  display: flex;
  align-items: center;
}
h2 {
  padding: 30px;
}
#navbar {
  display: flex;
  margin-left: auto;
}
.navbar-item {
  padding: 30px;
  font-weight: bolder;
}

h1 {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}

/* #box1 {
  height: 300px;
  width: 300px;
  background-color: crimson;
}

#box2 {
  height: 300px;
  width: 300px;
  background-color: aquamarine;
}
h1 {
  position: relative;
  text-align: center;
  padding: 20px;
  font-size: 60px;
} */
